.page-handler {
    text-align: center;
    height: 40px;
}

.page-handler ul {
    display: inline-block;
}

.page-handler li {
    float: left;
}

.page-handler li a {
    display: block;
    line-height: 38px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.page-handler li:not(:last-child) a {
    margin-right: 10px;
}

/*.paging li:first-child a,*/
/*.paging li:last-child a {*/
/*    width: 58px;*/
/*}*/

/*.paging li:not(:first-child, :last-child) a {*/
/*    width: 38px;*/
/*}*/

.page-handler li a {
    width: 58px;
}

.page-handler li a:not(.btn-paging) {
    width: 38px;
}

.page-handler li.selected a {
    border-color: #59f800;
    background-color: #59f800;
}