<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.app.dao.BoardMapper">
    <sql id="boardList">
        SELECT
            board_id            AS boardId,
            board_title         AS boardTitle,
            user_id             AS userId,
            board_content       AS boardContent,
            board_reg_date      AS boardRegDate,
            board_up_date       AS boardUpDate,
            board_view_cnt      AS boardViewCnt,
            board_comment_cnt   AS boardCommentCnt,
            board_like_cnt      AS boardLikeCnt
        FROM board
    </sql>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND board_title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="C"'>
                AND board_content LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (board_title LIKE concat('%', #{keyword}, '%')
                OR board_content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <delete id="delete" parameterType="Board">
        DELETE FROM board
        WHERE board_id = #{boardId} AND user_id = #{userId};
    </delete>

    <insert id="insert" parameterType="Board">
        INSERT INTO board
        (board_title, user_id, board_content)
        VALUES (#{boardTitle}, #{userId}, #{boardContent});
    </insert>

    <update id="updateViewCnt" parameterType="map">
        UPDATE board
        SET board_view_cnt = board_view_cnt + #{cnt}
        WHERE board_id = #{boardId};
    </update>

    <update id="updateCommentCnt" parameterType="map">
        UPDATE board
        SET board_comment_cnt = board_comment_cnt + #{cnt}
        WHERE board_id = #{boardId};
    </update>

    <update id="updateLikeCnt" parameterType="map">
        UPDATE board
        SET board_like_cnt = board_like_cnt + #{cnt}
        WHERE board_id = #{boardId};
    </update>

    <update id="update" parameterType="Board">
        UPDATE board
        SET
            board_title = #{boardTitle},
            board_content = #{boardContent},
            board_up_date = NOW()
        WHERE user_id = #{userId} AND board_id = #{boardId};
    </update>

    <select id="selectById" parameterType="int" resultType="Board">
        <include refid="boardList"/>
        WHERE board_id = #{id};
    </select>

    <select id="selectByPageDefault" resultType="Board">
        <include refid="boardList"/>
        ORDER BY boardRegDate DESC, boardId DESC
        LIMIT 0, 10;
    </select>

    <select id="selectByPage" parameterType="map" resultType="Board">
        <include refid="boardList"/>
        ORDER BY boardRegDate DESC, boardId DESC
        LIMIT #{begin}, #{size};
    </select>

    <select id="selectBySearch" parameterType="SearchCondition" resultType="Board">
        <include refid="boardList"/>
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY boardRegDate DESC, boardId DESC
        LIMIT #{offset}, #{pageSize};
    </select>

    <select id="selectCntBySearch" parameterType="SearchCondition" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE true
        <include refid="searchCondition"/>
    </select>

    <select id="selectCnt" resultType="int">
        SELECT COUNT(*) FROM board;
    </select>

    <select id="selectDailyTop" resultType="Board">
        <include refid="boardList"/>
        WHERE DATE_FORMAT(board_reg_date,'%Y-%m-%d') = CURDATE()
        ORDER BY board_like_cnt DESC, board_id DESC
        LIMIT 0, 10;
    </select>

    <select id="selectMonthlyTop" resultType="Board">
        <include refid="boardList"/>
        where YEAR(board_reg_date) = YEAR(CURDATE()) AND MONTH(board_reg_date) = MONTH(CURDATE())
        ORDER BY board_like_cnt DESC, board_id DESC
        LIMIT 0, 10;
    </select>
</mapper>