<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.app.dao.LikeMapper">
    <select id="select" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM `like` WHERE board_id = #{boardId} AND user_id = #{userId};
    </select>

    <insert id="insert" parameterType="map">
        INSERT INTO `like` (board_id, user_id) VALUES (#{boardId}, #{userId});
    </insert>

    <delete id="delete" parameterType="map">
        DELETE FROM `like` WHERE board_id = #{boardId} AND user_id = #{userId};
    </delete>

    <delete id="deleteByBoardId" parameterType="int">
        DELETE FROM `like` WHERE board_id = #{boardId};
    </delete>
</mapper>