<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.app.dao.UserMapper">
    <insert id="insertUser" parameterType="User">
        INSERT INTO user
        (user_id, user_pwd, user_name, user_email, user_birth)
        VALUES (
            #{userId},
            #{userPwd},
            #{userName},
            #{userEmail},
            #{userBirth}
        );
    </insert>

    <select id="selectUserLogin" parameterType="User" resultType="int">
        SELECT COUNT(*) FROM user
        WHERE user_id = #{userId} AND user_pwd = #{userPwd};
    </select>

    <select id="selectUser" resultType="User">
        SELECT
            user_id AS userId,
            user_name AS userName,
            user_email AS userEmail,
            user_birth AS userBirth,
            user_reg_date AS userRegDate
        FROM user
        WHERE user_id = #{userId};
    </select>
</mapper>